<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="shared-styles.html">

<dom-module id="message-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <template is="dom-if" if="{{isAdmin}}">

    <div class="card">
      <div class="circle">2</div>
      <h1>Message</h1>
      <p>Ini Pesan Rahasia</p>
      <p>Jangan beri tahu siapa siapa</p>
    </div>

  </template>
  </template>

  <script>
    class MessagePage extends Polymer.Element {
      static get is() { return 'message-page'; }
    }

    window.customElements.define(MessagePage.is, MessagePage);
  </script>
</dom-module>
